<%
page.layout = "gamer"
page.title = theme.gamer.title || __('gamer.title')
page.subtitle = theme.gamer.subtitle || __('gamer.subtitle')
page.banner_img = page.banner_img || theme.gamer.banner_img
page.banner_img_height = page.banner_img_height || theme.gamer.banner_img_height
page.banner_mask_alpha = page.banner_mask_alpha || theme.gamer.banner_mask_alpha
%>


<%- js_ex(theme.static_prefix.internal_js, 'filereader.js') %>
<%- js_ex(theme.static_prefix.internal_ev, 'gamer.js') %>

<style type="text/css">
.search {
  width: 100%; 
  height: 3rem; 
  padding: 5px 5px 5px 15px;
  border: none; 
  outline: none;
  border-bottom: 1px solid grey;
}
</style>


<div id="app" style="width:100%;">
  <div>
    <div>
      <div style="display: inline-flex; width: 100%">
        <select style="width: 200px; margin: 5px; height: 3rem; text-align: center;"
          @change="changeType($event)">
          <option v-for="(item, type) in gamer.types" :key="type"
            :value="type">
            {{ type }}
          </option>
        </select>
        <select style="width: 100%; margin: 5px; height: 3rem; text-align: center;"
          @change="loadDataEvent($event)">
          <optgroup :label="name" v-for="(group, name) in message.groups" :key="name">
            <option v-for="(item, idx) in group.list" :key="idx"
              :value="`${item.value}|${item.link}`">
              {{ item.title }}
            </option>
          </optgroup>
        </select>
      </div>
      <div>
        <input type="text" 
          class="search"
          placeholder="please use space to split multi-keyword."
          v-model="message.keyword"
          @input="searchData" />
      </div>
    </div>
  </div>
  <div style="margin-top: 1rem;">
    <ul style="margin-left: -2rem;">
      <div v-for="item in message.results" v-key="item.id">
        <a href="" 
          class='list-group-item list-group-item-action font-weight-bolder search-list-title'>
          【{{ item.id.value }}】{{ item.cn_name }}
        </a>
        <div style="display: flex; line-height: 20px; margin-left: 2rem;">
          <label>语言： </label>
          <p style="margin-right: 5px;" v-for="lang in item.langs">{{ lang }}</p>
        </div>
        <div style="display: flex; line-height: 20px; margin-left: 2rem;">
          <label>类型：</label>
          <p style="margin-right: 5px;" v-for="gen in item.genres">{{ gen }}</p>
        </div>
      </div>
      
    </ul>
  </div>
</div>


<script>
new GamerPageApp()
</script>


