<%
page.layout = "gamer"
page.title = theme.gamer.title || __('gamer.title')
page.subtitle = theme.gamer.subtitle || __('gamer.subtitle')
page.banner_img = page.banner_img || theme.gamer.banner_img
page.banner_img_height = page.banner_img_height || theme.gamer.banner_img_height
page.banner_mask_alpha = page.banner_mask_alpha || theme.gamer.banner_mask_alpha
%>


<%- js_ex(theme.static_prefix.internal_plugin, 'record-plugin/index.js') %>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<div id="app" style="width:100%;display:flex;justify-content:space-around;">
  <div style="width:45%;">
    <form>
      <textarea style="width:100%;height:80vh;" v-model="message.value"></textarea>
    </form>
  </div>
  <div style="width:45%;height:80vh;border:1px solid black;padding:20px;overflow:scroll;" v-html="html">

  </div>
</div>



<script> 
new Vue({
  el: '#app',
  data: { 
    message: {
      value: '# title',
      html: marked.parse('# title') 
    }
  },
  async mounted() {
    marked.setOptions({
      renderer: new marked.Renderer(),
      highlight: function(code, lang) {
        const hljs = require('highlight.js');
        const language = hljs.getLanguage(lang) ? lang : 'plaintext';
        return hljs.highlight(code, { language }).value;
      },
      langPrefix: 'hljs language-', // highlight.js css expects a top-level 'hljs' class.
      pedantic: false,
      gfm: true,
      breaks: false,
      sanitize: false,
      smartypants: false,
      xhtml: false
    });
  },
  methods: {},
  computed: {
    html() {
      // console.log(new RecordApp(this.message.value.split('\n')).run().md());
      // return marked.parse(new RecordApp(this.message.value.split('\n')).run().md());
      return new RecordApp(this.message.value.split('\n')).run().md().replaceAll('\n', '<br>');
    }
  }
});

</script>


