<div id="demo" class="carousel slide" data-ride="carousel">
  <!-- Slide Image Frame -->
  <div class="carousel-inner">
    <% images.forEach((img, idx) => { %>
      <div class="carousel-item <%- idx == 0 ? 'active' : '' %> ">
        <img src="<%- img.src %>" alt="<%- img.alt %>">
      </div>
    <% }) %>
  </div>

  <!-- Slide Button Group -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>