<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <% title.forEach((value, cidx) => { %>
          <th class="text-center align-middle"><%- value %></th>
        <% }) %>
      </tr>
    </thead>
    <tbody>
      <% data.forEach((row, ridx) => { %>
        <tr>
          <% row.forEach((value, cidx) => { %>
            <td  class="text-center align-middle"><%- value %></td>
          <% }) %>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>