<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <% Object.keys(data).forEach((value, cidx) => { %>
          <th class="text-center align-middle"><%- value %></th>
        <% }) %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% Object.values(data).forEach((value, cidx) => { %>
          <td  class="text-center align-middle"><%- value %></td>
        <% }) %>
      </tr>
    </tbody>
  </table>
</div>